/app/config/parameters.yml
/build/
/var/*
!/var/.gitkeep
/vendor/
/web/bundles/
/.sonar/
/.idea/
/bin/*
!/bin/console
!/bin/symfony_requirements
/tests/coverage/*
!tests/coverage/.gitkeep
/tests/pdepend/*
!tests/pdepend/.gitkeep
/docker/rebuild/build/*
!/docker/rebuild/build/.gitkeep
/docker/rebuild/partials/*
!/docker/rebuild/partials/.gitkeep
/docker/rebuild/resources/*
!/docker/rebuild/resources/.gitkeep